body{
    background-image:url("fondo.jpg")
}

header{
background: #3582b9;
position: absolute;
width: 1350px;
height: 55px;
left: 0px;
top: 0px;
}

h1{
    font-family: cursive;
    font-size: 30px;
    color:#FFD148
}

nav{
background: #C9C7C7;
position: absolute;
width: 1349px;
height: 45px;
left: 0px;
top: 55px;
}

#inicio{
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    width: 73px;
    height: 35px;
    left: 906px;
    top: 10px; 
}

#pagos{
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    width: 85px;
    height: 35px;
    left: 1084px;
    top: 10px;
    display: flex;
    align-items: center;
}

#cuenta{
position: absolute;
width: 95px;
height: 35px;
left: 1251px;
top: 10px;
font-family: sans-serif;
font-size: 20px;
display: flex;
align-items: center;
}

h2{
    position: absolute;
    width: 600px;
    height: 50px;
    left: 39px;
    top: 100px;
    font-family: sans-serif;
    font-size: 25px;
}

h3{
    position: absolute;
    width: 600px;
    height: 50px;
    left: 39px;
    top: 150px;
    font-family: sans-serif;
    font-size: 20px;
}

#digitos{
position: absolute;
width: 600px;
height: 35px;
left: 390px;
top: 400px;
background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
}


#vencimiento{
position: absolute;
width: 150px;
height: 30px;
left: 426px;
top: 450px;
}

#cvv{
position: absolute;
width: 150px;
height: 30px;
left: 813px;
top: 450px;

}
#pay{
background: #ac0b4c;
border-radius: 10px;
position: absolute;
width: 150px;
height: 60px;
left: 620px;
top: 495px;
color: #FFD148;
font-size: 20px;
}

#digitosEnmascarados{
    position: fixed;
    width: 245px;
    height: 35px;
    left: 570px;
    top: 300px;
    
    font-family: Roboto;
    font-size: 30px;
    z-index: 2;
}

img{
position: fixed;
width: 400px;
height: 200px;
top:30%;
left: 500px;
z-index: 1;
}

#validacion{
position: fixed;
width: 300px;
height: 231px;
top:25%;
left: 1000px;
}

#regresar{
    background: #ac0b4c;
    border-radius: 10px;
    position: relative;
    width: 150px;
    height: 60px;
    left: 1090px;
    top: 270px;
    color: #FFD148;
    font-size: 20px;
    }