/*Inicio de selectores de tipo*/
/*Se asigna los estilos a todos los elementos en el documento */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Se asignan los estilos en todo lo que este dentro de body */
body { 
  font-family: 'Open Sans', sans-serif;
  background-color: #00639a;
}
/*Fin de selectores de tipo*/
@media all and (min-width:280px)and (max-width:768px){
  
  .textinput{
    width: 80%;
  }
  .validar{
    width: 80%;
  }
  .tarjetaingresada{
    width: 80%;
  }
}
@media all and (max-width:420px) {
  
  .textinput{
    width: 100%;
  }
  .validar{
    width: 100%;
  }
  .tarjetaingresada{
    width: 100%;
  }
}


/*Inicio de selector de clase*/
/*Se crean clases en html y se les coloca estilo a cada una de ellas*/
.boton{
text-decoration: none;
color:#133960;
font-size: 30px;
max-width: 570px;
margin-left: auto;
margin-right: auto;
width: 20%;  
}

.registro{
  text-align: left;
  display: flex;
  justify-content: flex-end;
  width: 30%;
  background-color: white;
  color: black;
  border: 2px solid yellow;
 }

.textinput{
  font-size: 24px;
  color:hsl(242deg 45% 31%);
 }

.tarjetaingresada{
  width: 93%;
  height: 35%;
  font-size: 20px;
  margin-top: 1px;
 }

.validar{
  width: 25%;
  height: 30%;
  font-size: 24px;
  margin-top: 3px;
  cursor: pointer;
}
.validar:hover{
  background-color: gold;
}


.contenedor{
   width: 100%;
   max-width: 1170px;
   margin: auto;
}


.header{
  width: 100%;
  height: 200px;
  background-color: #fcfff5;
}

.logo{
  padding: 25px 0;
}

.logo img{
  width: 100px;
  display: block;
  margin: auto;
}
.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 430px;
  margin: auto;
}

.menu a{
  text-decoration: none;
  color:white;
  font-size: 20px;
}

.menu a:hover{
  color:yellow;
}




.banner{
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
}
.banner > div {
  width: 100%;
  height:100%;
  background-color: rgba(209,219,189, 0.5)
}


.llamada-accion{
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.llamada-accion p{
  font-size: 24px;
  color:white;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.llamada-accion h2{
  font-size: 35px;
  color: white;
  width: 100%;
  padding: 15px 0;
  background-color: rgba(255,255,255,0.4);
  max-width: 470px;
  margin-block-end: 5px;
}


.llamada-accion a{
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 10px 50px;
  background-color: rgba(0,0,0,0.47);
  margin-top: 35px;
}
.llamada-accion h6{
  margin-top: 4px;
  color: hsla(242,88.4%,45.3%,1);
  font-size: 28px;
}


.bienvenida{
  width: 100%;
  background-color:#3e606f;
  margin-top: 2px;
  color: #ffffff;
  text-align: center;
}

.bienvenida h3{
  font-size: 37px;
  padding-bottom: 27px;
}

.bienvenida p{
  font-size: 16px;
  padding-bottom: 35px;
  line-height: 1.7em;
  max-width: 370px;
  margin: 0 auto;
}



.widget{
  text-align: center;
  text-decoration: none;
  color:white;
  font-size: 20px;
}
.widget a {
  color: rgb(255, 255, 0);
}
.widget a:hover{
  color:blue;
}
/*Fin de selectores de clase*/